* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 100vh;
  width: 100%;
}

body {
  box-sizing: border-box;
  width: 100%;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 18%;
}

.logo {
  align-self: center;
  height: 40%;
  width: auto;
}

#burgerMenu {
  height: 40px;
}

section {
  display: flex;
  position: relative;
  justify-content: center;
  height: 58%;
}

#the-header {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(#fff8fe,white), 
  url('https://www.adaptativamente.cl/img/estudiantes/img-header.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-blend-mode: soft-light;
}

h2 {
  font-size: 1.2rem;
}

#header-title {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  align-items: center;
  height: 21.66%;
}

h2, h3, h4 {
  width: inherit;
  margin: auto;
  background: 0 0;
  height: fit-content;
  text-transform: uppercase;
  text-align: center;
  font-family: brandon-grot-w01-light,sans-serif;
}

.header-sub {
  display: flex;
  align-items: center;
  height: 10.85%;
  background-color: rgb(146, 146, 146);
  color: white;
}


Button {
  height: 50px !important;
  width: 100px !important;
}
