* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 18%;
}

.logo {
  align-self: center;
  height: 40%;
  width: auto;
}

#burgerMenu {
  padding: 10px;
  height: 40px;
}